

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
  rel="stylesheet"
/>

<!-- Carousel Starts -->

<section class="blur">
  <carousel>
    <slide>
      <img
        src="assets/images/2.jpg"
        alt="first slide"
        style="display: block; width: 100%; "
      />
      <div
        class="carousel-caption d-flex flex-column align-items-center justify-content-center"
      >
        <div class="p-3" style="max-width: 900px">
          <h4 class="text-white text-uppercase mb-md-3">
            3D PRINTING 
          </h4>
          <h1 class="display-6 text-white mb-md-4">
            STUDIO
          </h1>
        <a href="/shop" class="btn btn-outline-primary py-md-3 px-md-5 mb-10"
          style="border-radius: 30px; color:#09052e; background:#ff5e14;margin-top:250px;">Go to shop</a>
        </div>
      </div>
    </slide>
    <slide>
      <img
        src="assets/images/3.jpeg"
        alt="first slide"
        style="display: block; width: 100%;border-radius: 10px;"
      />
      <div
        class="carousel-caption d-flex flex-column align-items-center justify-content-center"
      >
        <div class="p-3" style="max-width: 900px; color:#89b7b8;">
          <h4 class="text-white text-uppercase mb-md-3">
          HOME DECOR
          </h4>
          <h1 class="display-6 text-white mb-md-4">
           CUSTOM GIFTS 
          </h1>
          <a href="/shop" class="btn btn-outline-primary py-md-3 px-md-5 mb-10"
            style="border-radius: 30px; color:#09052e; background:#ff5e14;margin-top:250px;">Go to shop</a>
        
          
        </div>
      </div>
    </slide>
    <slide>
      <img src="assets/images/7.jpeg" alt="first slide" style="display: block; width: 100%;border-radius: 10px;" />
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <div class="p-3" style="max-width: 900px; color:#89b7b8;">
          <h4 class="text-white text-uppercase mb-md-3">
            BRING NATURE
          </h4>
          <h1 class="display-6 text-white mb-md-4">
             INTO YOUR HOME
          </h1>
          <a href="/shop" class="btn btn-outline-primary py-md-3 px-md-5 mb-10"
            style="border-radius: 30px; color:#09052e; background:#ff5e14;margin-top:250px;">Go to shop</a>
    
    
        </div>
      </div>
    </slide>
  </carousel>
</section>

<!-- Carousel End -->

<!-- Contact Info Start 
<div class="container-fluid contact-info  mt-5 mb-4">
  <div class="container" style="padding: 0 30px">
    <div class="row">

      <div class="col-md-4 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0" style="height: 100px">
        <div class="d-inline-flex text-left">
          <div class="d-flex flex-column">
            <a href="/shop" class="btn btn-outline-primary py-md-3 px-md-5 mt-2" style="border-radius: 30px; color:#09052e; background:#ff5e14;">Go to shop</a>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>-->
<!-- Contact Info End -->

<!-- About Start -->
<div
style="
      
      background: rgba( 255, 255, 255, 0.20 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 10.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
      color: #09052e;
    "

class="container-fluid py-5">
  <div
    
    class="container pt-0 pt-lg-4"
  >
    <div class="row align-items-center">
      
      <div class="glass" class="col-lg-7 mt-0 mt-lg-0 pl-lg-5">
        <h2 class="text-secondary text-uppercase font-weight-medium mb-3">
          Learn About Us
        </h2>
        
        <!--<h3 class="font-weight-medium  mb-4">
          Clita sit et ipsum sed. Volup duo sea dolor rebum ea rebum kasd stet.
          Dolor at duo dolor sit stet.
        </h3> -->
        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;"> 
          We are a 3D printing company that manufactures unique products. Most of our products are custom designed by engineers with experience in Computer Aided Design(CAD).

        </p>
        




        <h2 class="text-secondary text-uppercase font-weight-medium mb-3">
          Our Mission
        </h2>
        <!--<h1 class="mb-4">We Are Quality Gas Provider In Your City</!--<h1>
        <h3 class="font-weight-medium  mb-4">
                  Clita sit et ipsum sed. Volup duo sea dolor rebum ea rebum kasd stet.
                  Dolor at duo dolor sit stet.
                </h3> -->
        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;"> Our mission is to contribute to innovation in the manufacturing industry through using non traditional manufacturing methods. 
        
        </p>

        <h2 class="text-secondary text-uppercase font-weight-medium mb-3">
          Our Vision
        </h2>
        <!--<h1 class="mb-4">We Are Quality Gas Provider In Your City</!--<h1>
                <h3 class="font-weight-medium  mb-4">
                          Clita sit et ipsum sed. Volup duo sea dolor rebum ea rebum kasd stet.
                          Dolor at duo dolor sit stet.
                        </h3> -->
        <p class="text-secondary mb-2" style="color: #09052e; text-align:justify;">  To see 3D Printing grow to become the mostly used form of manufacturing in Africa. 
        </p>
        
        <div class="row">
          <div class="col-sm-6 pt-3">
            <div class="d-flex align-items-center">
              <i class="fa fa-check text-primary mr-2"></i>
              <h4 class="text-secondary font-weight-medium m-0">
              High Quality 3D Prints
              </h4>
            </div>
          </div>
          <div class="col-sm-6 pt-3">
            <div class="d-flex align-items-center">
              <i class="fa fa-check text-primary mr-2"></i>
              <h4 class="text-secondary font-weight-medium m-0">
                Fast Delivery
              </h4>
            </div>
          </div>
          <div class="col-sm-6 pt-3">
            <div class="d-flex align-items-center">
              <i class="fa fa-check text-primary mr-2"></i>
              <h4 class="text-secondary font-weight-medium m-0">
                Strong and Durable Products
              </h4>
            </div>
          </div>
          <div class="col-sm-6 pt-3">
            <div class="d-flex align-items-center">
              <i class="fa fa-check text-primary mr-2"></i>
              <h4 class="text-secondary font-weight-medium m-0">
                100% Satisfaction Guaranteed
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 mt-3">
      
        <!-- Carousel Starts -->
      
        <carousel>
          <slide>
            <img src="assets/images/4.jpeg" alt="first slide" style="display: block; width: 100%;border-radius: 10px; " />
          </slide>
          <slide>
            <img src="assets/images/2.jpeg" alt="first slide" style="display: block; width: 100% ;border-radius: 10px;" />
          </slide>
          <slide>
            <img src="assets/images/1.jpeg" alt="first slide" style="display: block; width: 100%;border-radius: 10px; " />
          </slide>
          <slide>
            <img src="assets/images/4.jpeg" alt="first slide" style="display: block; width: 100%;border-radius: 10px;" />
          </slide>
          <slide>
            <img src="assets/images/13.jpeg" alt="first slide" style="display: block; width: 100%;border-radius: 10px; " />
          </slide>
          <slide>
            <img src="assets/images/20.jpeg" alt="first slide" style="display: block; width: 100%;border-radius: 10px;" />
          </slide>
          <slide>
            <img src="assets/images/17.jpeg" alt="first slide" style="display: block; width: 100%;border-radius: 10px; " />
          </slide>
          <slide>
            <img src="assets/images/31.jpeg" alt="first slide" style="display: block; width: 100%;border-radius: 10px;" />
          </slide>
          <slide>
            <img src="assets/images/40.jpeg" alt="first slide" style="display: block; width: 100%;border-radius: 10px; " />
          </slide>
          <slide>
            <img src="assets/images/35.jpeg" alt="first slide" style="display: block; width: 100%;border-radius: 10px;" />
          </slide>
          <slide>
            <img src="assets/images/33.jpeg" alt="first slide" style="display: block; width: 100%;border-radius: 10px; " />
          </slide>
          <slide>
            <img src="assets/images/36.jpeg" alt="first slide" style="display: block; width: 100%;border-radius: 10px;" />
          </slide>
        </carousel>
      
        <!-- Carousel End -->
      
      </div>
    </div>
  </div>
</div>
<!-- About End -->











<div 

style="
    
    background: rgba( 255, 255, 255, 0.20 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 10.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #09052e;
    
  "

class="container-fluid py-5">
  
<div


class="content">
<h2>FAQs</h2> 
<!-- __________________________ SECTIONS ___________________________ --> 

<h3>GOT A QUESTION? WE'RE HERE TO HELP</h3>

<div>
  <input type="checkbox" id="question11" name="q"  class="questions">
  <div class="plus">+</div>
  <label for="question11" class="question">
   What materials do we use?
  </label>
  <div class="answers">
    <p >all of our products are made with PLA Plastic Filament. PLA Is the most commonly used 3d printing material. it is bio-degradable and strong enough to be used for a lot of applications including home products,spare parts etc 
    </p>
    
  </div>
</div>
<!-- _____________________________________________________ --> 
<div>
  <input type="checkbox" id="question12" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question12" class="question">
How do I order?
  </label>
  <div class="answers">
    <p >You can order online here on our website, or contact us on our provided contact details.
</p>
    
    

  </div>
</div>
 <!-- _____________________________________________________ -->  
<div >
  <input type="checkbox" id="question13" name="q" class="questions">
  <div  class="plus">+</div>
  <label for="question13" class="question">
How long will my order take to process?
  </label>
  <div class="answers">
    <p >3D printing is a slow process with some prints taking a few minutes to completre and some several days.
      How long an order takes depends entirely on how big the order is.
    </p>
    
  </div>
</div>
<!-- _____________________________________________________ -->  
<div>
  <input type="checkbox" id="question14" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question14" class="question">
Can I buy in-store?
  </label>
  <div class="answers">
    <p >Unfortunately we are not a walk in store yet, but you can visit our factory/studio at the provided address below.</p>
    
  </div>
</div>
<!-- _____________________________________________________ -->  

<!-- _____________________________________________________ -->  
<div>
  <input type="checkbox" id="question15" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question15" class="question">
Can I order over the phone or email?
  </label>
  <div class="answers">
    <p >To place an order over the phone or email, contact our customer services team on 0658435277 or info@3dprintingstudio.co.za .</p>
    
  </div>
</div>
<!-- _____________________________________________________ --> 

<!-- _____________________________________________________ -->
<div>
  <input type="checkbox" id="question16" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question16" class="question">
    Does 3D Printing Studio offer Free delivery?
  </label>
  <div class="answers">
    <p >We offer free delivery across Johannesburg for all orders over R200.</p>

  </div>
</div>
<!-- _____________________________________________________ -->










<h3>SECURITY &amp; PAYMENT</h3>

<div>
  <input type="checkbox" id="question19" name="q" class="questions">
  <div class="plus">+</div>
  <label for="question19" class="question">
    Is it safe to shop online with you?
  </label>
  <div class="answers">
    <p>Yes. We guarantee that our website is secured and certified. Your payment is processed securely by Payfast, which is one
    of the leading payment gateways in South Africa.</p>
    
  </div>
</div>





<!-- __________________________ SECTIONS ___________________________ -->

</div>


</div>